@import 'bootstrap/dist/css/bootstrap';

a {
    text-decoration: none;
}

#mainDiv {
  padding: 20px 15px 15px;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 1 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
  margin-bottom: 1 rem ;
}

.log-out-btn {
  margin-right: 5px ;
}

.user-name {
  margin-right: 5px;
  margin-top: 3.5%;
}